-- Verificar datos reales del usuario en Supabase Auth
-- Ejecutar en Supabase SQL Editor

SELECT 
  id, 
  email, 
  raw_user_meta_data,
  user_metadata
FROM auth.users 
WHERE email = 'coeurdeluke.js@gmail.com';