-- Script para actualizar nicknames en feedback existente
-- Ejecutar en Supabase SQL Editor

-- Actualizar feedback existente con nickname real del usuario
UPDATE feedback 
SET nickname = 'Darth Luke' 
WHERE email = 'coeurdeluke.js@gmail.com';

-- Verificar que se actualizó correctamente
SELECT id, email, nickname, whatsapp, subject, created_at 
FROM feedback 
WHERE email = 'coeurdeluke.js@gmail.com'
ORDER BY created_at DESC;